.tool-panel {
  display: flex;
  justify-content: space-between;
}

.add-post-form {
  display: flex;
  flex-direction: column;
}

.action-wrapper {
  display: flex;
}

.small-user-image {
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.MuiButton-label {
  svg {
    width: 23px;
  }
}
